# Gradle
.gradle/
build/
out/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Eclipse
.project
.classpath
.settings/

# Fabric run folder
run/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Generated jars
*.jar